<ng-template #loading>
    <div class="alert alert-info text-center">
        Loading...
    </div>
</ng-template>

<div *ngIf="currentCountry; else loading">
    <div class="row">
        <div class="col-12">
            <h2>País: {{ currentCountry.name.common }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img [src]="currentCountry.flags.svg" [alt]="currentCountry.name.common" class="img-thumbnail" />
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Code: </strong>{{ currentCountry.cca3 }}
                </li>
                <li class="list-group-item">
                    <strong>Official name: </strong>{{ currentCountry.name.official }}
                </li>
                <li class="list-group-item">
                    <strong>Continent: </strong>{{ currentCountry.region}}
                </li>
                <li class="list-group-item">
                    <strong>Population: </strong>{{ currentCountry.population | number }}
                </li>
                <li class="list-group-item">
                    <strong>Capital: </strong>{{ currentCountry.capital }}
                </li>
                <li class="list-group-item">
                    <strong>Area: </strong>{{ currentCountry.area | number }} km<sup>2</sup>
                </li>
            </ul>
            
        </div>
    </div>
</div>
