<h2>By Continent</h2>
<hr/>
<div class="row">
    <div class="col text-center">
        <button 
            *ngFor="let continent of continents"

            class="btn btn-outline-primary mx-2"
            [ngClass]="{ 'btn-primary': selectedContinent === continent }"
            (click)="searchByContinent(continent)">
            {{ continent }}
        </button>
    </div>
</div>

<div class="row">
    <div class="col">
        <hr/>
        <countries-table [countries]="countries"></countries-table>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    </div>
</div>
